@import style/_color

.header-section
  min-width: 320px
  align-content: center
  align-items: flex-start 

.header-placeholder
  height: 113px

.header-container
  position: fixed
  display: block
  min-width: 320px
  width: 100%
  top: 0
  left: 0
  background: $color-background
  box-shadow: none
  will-change: box-shadow
  z-index: 10
  .container-fluid
    padding: 0
  
.header-top
  position: relative
  display: flex
  align-items: center
  padding: 16px
  z-index: 11

.header-top-bmenu
  position: relative
  margin-right: 24px
  z-index: 2

// burger menu
.bmenu
  position: relative
  width: 32px
  padding: 9px 0
  background-color: $color-background
  border: 1px solid $color-border-light
  border-radius: 3px
  cursor: pointer
  .bmenu-line
    width: 16px
    margin: 3px auto 0
    opacity: 1
  &:after,
  &:before 
    content: ''
    position: absolute
    width: 22px
    top: calc(50% - 1px)
    left: calc(50% - 11px)
    transform: rotate(0)
    opacity: 0

.bmenu:after,
.bmenu:before,
.bmenu .bmenu-line
  display: block
  height: 2px
  background-color: $color-text-dark
  border-radius: 2px

.bmenu:active,
.bmenu:focus,
.bmenu:active:focus
  box-shadow: none
  outline: none

// logo
.header-logo-image
  position: relative
  display: block
  width: 85px
  min-width: 85px
  z-index: 2

// left nav
.header-menu
  display: flex
  flex-grow: 1
  top: 0
  margin: 0 12px
  opacity: 1
  ul
    width: 100%
    margin: 0

.header-menu-item
  margin: 0 12px

.header-menu-item-link
  display: flex
  justify-content: space-between
  align-items: center
  padding: 8px 0
  color: $color-text-dark
  font-size: 14px
  line-height: 16px
  font-weight: 600

.header-section .btn 
  display: flex
  align-items: center
  padding: 7px 11px
  border-radius: 3px
  line-height: 1.6rem

.header-menu .btn-group
  display: flex

// dropdowns
.header-section .dropdown-menu
  position: absolute
  display: none
  min-width: 256px
  top: 100% !important
  left: 0
  margin: 0
  padding: 0
  border: none
  border-radius: 0
  background-color: $color-background
  transform: none !important
  pointer-events: all !important
  box-shadow: none
  opacity: 1 !important
  z-index: 995

.header-section .dropdown-menu-body
  margin: 8px 0 0
  padding: 8px
  background: $color-background
  border: 1px solid $color-border-light
  border-radius: 3px
  box-shadow: 0 16px 24px rgba(51,51,51,.08)
  overflow: hidden
  
.dropdown-item
  display: flex
  justify-content: space-between
  align-items: center
  padding: 16px
  background-color: $color-background
  color: $color-text-dark
  border-radius: 3px
  font-weight: 400
  font-size: 14px
  line-height: 16px
  text-transform: none
  cursor: pointer
  .icon-wrap
    display: flex
    justify-content: center
    align-items: center
    height: 48px
    min-width: 48px
    background: $color-background
    border: 1px solid $color-border-light
    border-radius: 3px
  .icon-lg
    margin-right: 16px

.dropdown-menu-subtext
  display: block
  margin-top: 8px
  color: $color-text-light
  font-weight: 400

.dropdown-menu-item-wide
  width: calc(48vw - 8px)
  max-width: 496px

.header-section .dropdown-toggle
  margin-left: -1px
  padding: 7px
  border-top-left-radius: 0
  border-bottom-left-radius: 0
  &::after
    display: none

// right nav
.header-menu-profile
  position: relative
  display: flex
  justify-content: flex-end
  flex-direction: row
  z-index: 2

.header-menu-profile-account
  display: flex

.header-menu-profile-account-register
  display: flex
  justify-content: space-between
  align-items: center
  padding: 8px 0
  font-size: 14px
  font-weight: 600
  line-height: 16px
  color: $color-secondary
  background: none
  border: 0

.header-menu-profile-account-signin
  margin-left: 24px
  .icon
    margin-left: 12px
  &.dropdown-toggle
    margin-left: 12px
    border-top-left-radius: 3px
    border-bottom-left-radius: 3px
    .icon
      margin-left: 0

.header-menu-profile-language
  position: relative
  margin-left: 16px
  order: 3

// dropdowns
.dropdown-menu-language
  position: relative
  display: flex

.profile-signin.dropdown-menu
  min-width: 256px
  .dropdown-item
    justify-content: flex-start
  .icon-md
    margin-right: 16px

.dropdown-menu-language .dropdown-menu
  left: auto !important
  right: 0  

.dropdown-menu-language .dropdown-item
  justify-content: flex-start
  align-items: center
  min-height: 3.48rem
  padding: 8px
  &::before
    content: ''
    display: inline-block
    width: 16px
    height: 12px
    margin-right: 8px
  &.current, &:active
    background-color: $color-primary-outline-state
    color: $color-text-dark
    &::before
      background-image: url(/assets/icon_check.svg)
 
.header-section .profile-signin.dropdown-menu
  left: auto !important
  right: 0

.header-section .dropdown-menu-language-button
  display: flex
  justify-content: space-between
  width: 100%
  padding: 7px 8px
  font-size: 14px
  font-weight: 400
  line-height: 16px
  color: $color-text-dark
  border-radius: 3px
  background: $color-background
  box-shadow: none
  white-space: nowrap
  appearance: none
  outline: none
  .icon-globe
    margin-right: 0.8rem

// media
@media (min-width: 1200px)
  .header-top-bmenu
    display: none

  .header-logo-image
    width: 134px
    min-width: 134px

  .dropdown-menu-item
    .item-wide
      width: calc(34vw - 8px)

@media (min-width: 992px)
  .header-menu-profile-language
    margin-left: 24px

@media (min-width: 768px)
  .header-top
    padding: 24px

  .header-logo-image
    width: 99
    min-width: 99px

@media (min-width: 668px)
  .header-placeholder
    height: 80px

  .header-section
    align-items: center

  .header-container
    border-bottom: 1px solid $color-border-light

  .dropdown-menu-language .dropdown-menu
    width: 208px
    min-width: 208px

@media (min-width: 568px)
  .dropdown-menu-language-button .icon-arrow-down
    margin-left: 0.8rem

  .header-section
    flex-direction: row
    
@media (max-width: 992px)
  .header-top-bmenu
    margin-right: 16px

  .header-menu
    margin: 0 8px

@media (max-width: 667px)
  .header-menu
    position: absolute
    width: calc(100% - 32px)
    top: calc(100% + 8px)
    left: 16px
    margin: 0
    z-index: 0
    ul
      justify-content: space-between

  .header-menu-item
    margin: 0 0 0 8px
    &:first-child
      flex-grow: 1
      marign-left: 0

  .header-menu-item-link:last-child
    padding: 7px 15px
    border: 1px solid $color-primary
    border-radius: 3px
    background-color: $color-background

  .header-menu .dropdown-menu
    width: calc(100% + 83px)

  .header-menu .dropdown-menu-item-wide
    justify-content: flex-start
    width: calc(100vw - 50px)
    max-width: 100%
    padding: 8px
    .icon-lg
      margin-right: 8px
      transform: scale(.667)
    .icon-wrap
      display: none

  .header-menu-body
    justify-content: space-between

  .header-menu-profile
    margin-left: auto

  .header-top::after 
    content: ''
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    border-bottom: 1px solid $color-border-light
    background: $color-background
    z-index: 1